.container {
  // padding-left: rem(20px);
  // padding-right: rem(20px);
  --gap-x: #{rem(20px)};
  width: 100%;
  margin: 0 auto;
  // @include tablet {
  //   padding-left: rem(32px);
  //   padding-right: rem(32px);
  //   --gap-x: #{rem(20px)};
  // }
  @include laptop {
    padding-left: rem(162px);
    padding-right: rem(162px);
  }

  &_grid {
    width: 100%;
    column-gap: var(--gap-x);
  }
}
