// Font family will init new project
.font__roboto {
  font-family: var(--font-roboto);
}

.font__libre-baskerville {
  font-family: var(--font-libre-baskerville);
}

// Text color when init new project
.text__black {
  color: var(--black);
}

.text__white {
  color: var(--white);
}

.text__blue {
  color: var(--blue);
}

.text__white-primary {
  color: var(--text-primary);
}
