.imagePlaceHolder {
  font-size: 0;
  line-height: 0;
  position: relative;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_original {
    position: absolute;
    will-change: opacity;
    transition: opacity 0.4s;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    &.loaded {
      opacity: 1;
    }
  }
}
